<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>css assignment 1</title>
    <style>
        p{
        font-size: 15px;
        font-family: sans-serif;
        color: darkblue;

        }
    </style>
</head>
<body>
    <h3 style=" font-family: Precious;color:red;font-size:30px ">Welcome to baabtra.com</h3>
    <p>BAABTRA,works as a link in identifying,training and placing quality freshers from regional colleges and institutes</p>
</body>
</html>